@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number], input[type=number]:hover, input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*! ______ОБНУЛЕНИЕ______ */
body {
  font-weight: 400;
  color: #000;
  font-family: "montserrat";
}

.container {
  max-width: 1190px;
  padding: 0px 15px;
  margin: auto;
}

.btn {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#44CBCB), to(#0B3565));
  background: -o-linear-gradient(left, #44CBCB, #0B3565);
  background: linear-gradient(90deg, #44CBCB, #0B3565);
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-size: 18px;
  position: relative;
  -webkit-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3;
  overflow: hidden;
  font-weight: 700;
  height: 70px;
  width: 100%;
}
@media (max-width: 1190px) {
  .btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / 870));
  }
}
.btn--min {
  height: 57px;
  text-transform: capitalize;
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateY(120%);
      -ms-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.btn:hover {
  border: 3px solid #0C587F;
  color: #0C587F;
}
.btn:hover::after {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 35px;
  z-index: 999;
}
@media (max-width: 1190px) {
  .header {
    padding-top: calc(15px + 20 * ((100vw - 320px) / 870));
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 15px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(192, 192, 192, 0.4470588235);
  padding: 0px 0px 0px 15px;
}
@media (max-width: 956px) {
  .header__button {
    padding: 0px 0px;
  }
}
.header__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__title {
  text-transform: uppercase;
  font-size: 18px;
  color: #0C587F;
  position: relative;
  z-index: 2;
  font-weight: 600;
}
@media (max-width: 956px) {
  .header__title {
    display: none;
  }
}
.header__burger {
  display: inline-block;
  width: 55px;
  width: 55px;
  height: 45px;
  height: 45px;
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9019607843);
  overflow: hidden;
  border: 2px solid #0C587F;
  z-index: 3;
}
@media (max-width: 1190px) {
  .header__burger {
    width: calc(45px + 10 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .header__burger {
    height: calc(40px + 5 * ((100vw - 320px) / 870));
  }
}
.header__burger::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__burger span {
  width: 100%;
  display: inline-block;
  height: 4px;
  background-color: #0C587F;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__burger span::after, .header__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0C587F;
  z-index: 2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__burger span::before {
  bottom: -10px;
}
.header__burger span::after {
  top: -10px;
}
.header__navigation {
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  top: 15px;
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.368627451);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.368627451);
}
.header__navigation--in {
  padding: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__link {
  text-transform: uppercase;
  color: #0C587F;
  font-weight: 500;
  font-size: 16px;
  padding: 2px 2px;
  outline: 2px solid transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__link:hover {
  outline: 2px solid #0C587F;
}

._spoilerOpen .header__burger span {
  background-color: transparent;
}
._spoilerOpen .header__burger span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}
._spoilerOpen .header__burger span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.screen {
  padding-top: 20px;
  padding-bottom: 55px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1190px) {
  .screen {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .screen {
    padding-bottom: calc(35px + 20 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 956px) {
  .screen {
    background-position: left;
  }
}
.screen--intro {
  background-image: url(../img/intro/fon.png);
}
.screen--testing {
  background-image: url(../img/testing/fon.png);
}
.screen--escort {
  background-image: url(../img/escort/fon.png);
}
.screen--ways {
  background-image: url(../img/ways/fon.png);
}
.screen--portfolio {
  background-image: url(../img/portfolio/fon.png);
}
.screen--whyUs {
  background-image: url(../img/whyUs/fon.png);
}
.screen--contacts {
  background-image: url(../img/contacts/fon.png);
}
.screen__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.screen__logo {
  width: 244px;
}
@media (max-width: 1190px) {
  .screen__logo {
    width: calc(150px + 94 * ((100vw - 320px) / 870));
  }
}
.screen__line {
  margin-left: 52px;
  margin-right: 36px;
  display: inline-block;
  min-height: 100%;
  width: 4px;
  background-color: #0C587F;
  margin-left: 30px;
  margin-right: 24px;
}
@media (max-width: 1190px) {
  .screen__line {
    margin-left: calc(15px + 15 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .screen__line {
    margin-right: calc(10px + 14 * ((100vw - 320px) / 870));
  }
}
.screen__title {
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "inter";
  color: #0C587F;
  font-size: 24px;
}
@media (max-width: 1190px) {
  .screen__title {
    font-size: calc(14px + 10 * ((100vw - 320px) / 870));
  }
}
.screenPhoto__inner {
  position: relative;
}
.screenPhoto__left {
  max-width: calc(50% + 20px);
  padding: 0px 20px 0px 0px;
}
@media (max-width: 956px) {
  .screenPhoto__left {
    max-width: none;
    padding: 0px 0px;
  }
}
.screenPhoto__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -15px;
  width: calc(50% - 20px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 100%;
}
@media (max-width: 956px) {
  .screenPhoto__img {
    left: 20%;
    width: calc(80% + 15px);
    opacity: 0.2;
  }
}

.intro__title {
  margin-top: 40px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 60px;
  display: inline-block;
}
@media (max-width: 1190px) {
  .intro__title {
    padding-right: calc(45px + 15 * ((100vw - 320px) / 870));
  }
}
.intro__title img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
.intro__title--in {
  white-space: nowrap;
  position: relative;
  z-index: 2;
  font-size: 40px;
  font-weight: 400;
  font-family: "inter";
  color: #000;
  line-height: 130%;
  font-size: 24px;
}
.intro__title--in span {
  color: #0C587F;
  font-weight: 700;
}
.intro__block {
  padding: 40px 0px 35px 0px;
}
@media (max-width: 956px) {
  .intro__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.intro__subtitle {
  font-size: 24px;
  font-family: "inter";
  line-height: 130%;
  max-width: 350px;
  margin: 0px 0px 40px 0px;
}
.intro__text {
  font-size: 16px;
  line-height: 130%;
  max-width: 550px;
  margin: 0px 0px 40px 0px;
}
.intro__btn {
  width: 100%;
  max-width: 257px;
}
.testing {
  padding: 100px 0px;
}
@media (max-width: 956px) {
  .testing__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.testing__title {
  font-family: "inter";
  font-weight: 700;
  color: #0C587F;
  font-size: 40px;
}
@media (max-width: 1190px) {
  .testing__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 870));
  }
}
.testing__text {
  line-height: 130%;
  margin: 40px 0px 100px 0px;
  font-size: 22px;
  max-width: 450px;
}
@media (max-width: 1190px) {
  .testing__text {
    font-size: calc(20px + 2 * ((100vw - 320px) / 870));
  }
}
.testing__btn {
  max-width: 350px;
}
.escort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 100px 0px;
}
.escort__title {
  font-weight: 600;
  line-height: 100%;
  max-width: 750px;
  color: #0C587F;
  font-size: 40px;
}
@media (max-width: 1190px) {
  .escort__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 870));
  }
}
.escort__text {
  margin: 65px 0px;
  max-width: 650px;
  line-height: 130%;
  font-size: 18px;
}
@media (max-width: 1190px) {
  .escort__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 870));
  }
}
.escort__btn {
  max-width: 450px;
}

.contacts {
  padding: 90px 0px 0px 0px;
}
.contacts__inner {
  max-width: 900px;
  margin: auto;
}
.contacts__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 756px) {
  .contacts__main {
    gap: 35px;
    padding: 0px 0px;
    margin: 0px 0px 40px 0px;
  }
}
.contacts__title {
  text-align: center;
  grid-column: 1/3;
  font-weight: 800;
  font-size: 50px;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 1190px) {
  .contacts__title {
    font-size: calc(35px + 15 * ((100vw - 320px) / 870));
  }
}
.contacts__wrapper {
  position: relative;
}
@media (max-width: 756px) {
  .contacts__wrapper {
    grid-column: 1/3;
  }
}
.contacts__wrapper::after {
  display: none;
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  color: red;
  padding: 5px 20px 20px 10px;
  font-size: 12px;
}
.contacts__wrapper--name::after {
  content: "Enter your name";
}
.contacts__wrapper--mail::after {
  content: "Enter email format: user@exemple.com";
}
.contacts__wrapper--surname::after {
  content: "Enter last name";
}
.contacts__wrapper--phone::after {
  content: "enter format number: +1";
}
.contacts__wrapper--question {
  grid-column: 1/3;
}
.contacts__wrapper--question::after {
  content: "Enter your query (min characters: 15)";
}
.contacts__input {
  border: 1px solid #C0C0C0;
  color: #000000;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
}
.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 756px) {
  .contacts__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
}
.contacts__btn {
  max-width: 250px;
}
.contacts__mail {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #000000;
}
.contacts__mail:hover {
  color: #0C587F;
}
.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 30px 0px;
  border-bottom: 6px solid #0C587F;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contacts__phone span {
  padding: 0px 0px 4px 0px;
}
@media (max-width: 756px) {
  .contacts__phone {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts__number {
  font-weight: 700;
  font-size: 30px;
  color: #0C587F;
  margin: 0px 95px 0px 0px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contacts__number:hover {
  color: #313131;
}
@media (max-width: 756px) {
  .contacts__number {
    margin: 0px 20px 0px 0px;
    font-size: 25px;
  }
}

._badInput input {
  border-color: red;
}
._badInput::after {
  display: inline-block;
}